<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Ionic Notes </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="loading;else showData">
    <ion-list>
      <ion-item *ngFor="let load of [].constructor(3); let i = index">
        <ion-label>
          <ion-skeleton-text animated class="skeleton-box-{{ i }}"
          ></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-template #showData>
    <ion-list>
      <ion-item *ngFor="let note of notes" (click)="openNote(note)">
        <ion-label>{{ note.title }}</ion-label>
      </ion-item>
    </ion-list>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addNote()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
