$skeletonWidth: ("0": 50%, "1": 70%, "2": 60%);

.skeleton-box {
  @each $name, $val in $skeletonWidth {
    &-#{$name} {
      width: $val;
      height: 1rem;
      border-radius: 10px;
    }
  }
}
